html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #000000;
}
li.rs{
  list-style: none;
}
.pr{
  position: relative;
}
.pa {
  position: absolute;
}
.px{
  position: fixed;
}
a{
  text-decoration: none;
  &:hover, &.active{
    text-decoration: none;
  }
}
h1 {
  font-size: 20px;
  font-weight: normal;
}
.rs{
  margin: 0;
  padding: 0;
}
.imgFull{
  width: 100%;
  height: auto;
}
.z2{
  z-index: 2;
}
.z10{
  z-index: 10;
}
.fixCen{
  width: 1060px;
  position: relative;
  margin: 0 auto;
}
$globalColor: #00b5ef;
a{
  color: $globalColor;
  &:hover{
    color: #7a7a7a;
  }
}
%aProp{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
%overFlowA{
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%transition{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out ;
  -ms-transition: all 0.3s ease-in-out ;
  -o-transition: all 0.3s ease-in-out ;
  transition: all 0.3s ease-in-out ;
}
%h2Prop{
  color: #ffffff;
  background: #2f962b;
  font-size: 16px;
  width: 42%;
  text-align: center;
  padding: 10px 0;
}
%liProp{
  list-style: none;
}
%spanProp{
  background: #00642c;
  color: #fff;
  font-family: firstFont,sans-serif;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 80%;
  height: 30px;
  line-height: 30px;

}
%disFlex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.disFlex{
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}
header{
  z-index: 1;
  position: relative;
  .menuTop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #009FE3;
    .contain{
      width: 1100px;
      position: relative;
      margin: auto;
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .logo{
      width: 170px;
      .logoPC{
        width: 100%;
      }
      img.logomb{
        display: none;
      }
    }
    .btnMenu{
      display: none;
      width: 44px;
      height: 44px;
      display: block;
      top: 5px;
      right: 5px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    #menuMb{
      @extend %disFlex;
      width: 880px;
      height: 42px;
      margin-top: -20px;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      li{
        height: 100%;
        width: 12%;
        line-height: 42px;
        text-align: center;
        border-right: thin solid #3f6bb1;
        position: relative;
        &:nth-child(2){
          line-height: 25px;
        }
        &:last-child{
          border: none;
        }
        a{
          display: block;
          height: 100%;
          color: #ffffff;
          font-family: Arial bold, sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          &:hover, &.active{
            color: #3F51B5;
          }
        }
        .hasSub {
          display: none;
          position: absolute;
          left: -5px;
          top: 40px;
          padding: 5px 0;
          width: 220px;
          list-style: none;
          z-index: 11;
          li{
            width: 100%;
            padding: 0 10px;
            text-align: left;
            border: none;
            a{
              display: block;
              line-height: 35px;
              font-size: 13px;
              color: #fff;
              white-space: nowrap;
              &:hover{
                color: #3F51B5;
              }
            }
            &.color01{
              background: #6dbc44;
            }
            &.color02 {
              background: #ee9fbd;
            }
            &.color03 {
              background: #00afdd;
            }
            &.color04 {
              background: #ae4a9c;
            }
            &.color05 {
              background: #f19231;
            }
          }
        }
        &:hover{
          &>.hasSub{
            display: block;
          }
        }
      }
    }
    @media(max-width: 1099px) {
      .contain{
        width: 100%;
      }
      .logo{
        width: 20%;
        img{
          width: 100%;
          height: auto;
        }
      }
      #menuMb{
        width: 80%;
        li{
          a{
            font-size: 14px;
          }
        }
      }
    }
    @media(max-width: 960px) {
      height: auto;
      .logo {
        width: 20%;
        display: block;
        margin: auto;
        margin-bottom: 3%;
      }
      #menuMb{
        width: 100%;
        background: #009FE3;
        padding: 2% 0;
        height: auto;
      }
    }
    @media(max-width: 768px) {
      width: 100%;
      display: block;
      height: 70px;
      .logo {
        width: 200px;
        margin: 0 auto 0 auto;
         img.logoPC{
           display: none;
         }
        img.logomb{
          display: block;
        }
      }
      #menuMb{
        margin-top: -670px;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        li{
          width: 51%;
          height: auto;
          border-right: none;
          border-bottom: thin solid #3f6bb1;
          padding: 0;
          box-sizing: border-box;
          display: block;
          margin: auto;
          &:nth-child(2){
            line-height: 42px;
          }
          .hasSub{
            position: relative;
            top: inherit;
            padding: 0;
            width: 100%;
            left: inherit;
          }
        }
      }
      .btnMenu{
        display: block;
        &.show{
          background: url("../images/landing3/open-btn.png") no-repeat;
        }
        &.close{
          background: url("../images/landing3/close-btn.png") no-repeat;
        }
      }
    }
    @media(max-width: 480px) {
      #menuMb{
        li{
          width: 70%;
        }
      }
    }
  }
}
.body {
  margin-top: 110px;
  z-index: 0;
  .fixCen {
    border-left: thin solid #eeeeee47;
    border-right: thin solid #eeeeee47;
    background: #ffffff;
  }
  h2.title {
    font-size: 28px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $globalColor;
    margin: 20px 0;
  }
  .block2, .block6, .relatedProducts {
    @extend %disFlex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 20px;
    .left {
      width: 260px;
    }
    .right {
      width: 300px;
      margin: 0 0 25px 90px;
      .txt {
        display: block;
        text-transform: uppercase;
        color: $globalColor;
        font-size: 17px;
        font-weight: bold;
        &.txt2 {
          background: $globalColor;
          font-size: 23px;
          width: 175px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          margin: 10px 0;
          a {
            color: #ffffff;
            &:hover {
              color: #7a7a7a;
            }
          }
        }
        &.txt3 {
          a {
            color: #7a7a7a;
            &:hover {
              color: $globalColor;
            }
          }
          border-top: thin solid $globalColor;
          border-bottom: thin solid $globalColor;
        }
      }
    }
    .arrow {
      top: 130px;
      left: 48.5%;
      margin-left: -34px;
    }
    .bottom {
      width: 100%;
      .boxAnswer {
        font-size: 16px;
        text-align: justify;
      }
    }
  }
  .block2, .block11 {
    @media(max-width: 680px) {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      .left, .right {
        width: 48%;
      }
      .right {
        margin: 0;
      }
      .arrow {
        display: none;
      }
    }
    @media(max-width: 480px) {
      .left {
        width: 80%;
      }
      .right {
        width: 63%;
        margin: 3% auto;
      }
    }
  }
  .block3 {
    h2.title {
      font-weight: bold;
    }
    .boxStandards {
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      .standard {
        width: 18%;
        a {
          text-transform: uppercase;
          color: #000000;
          font-size: 15px;
          font-weight: bold;
          display: block;
          width: 100%;
          margin: 5px 0;
          text-align: center;
          img {
            display: block;
            margin: auto;
          }
        }
        .txtSumary {
          color: #7d7d7d;
          font-size: 15px;
          text-align: justify;
        }
      }
    }
    @media(max-width: 960px) {
      .boxStandards {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        .standard {
          width: 30%;
          margin-bottom: 3%;
        }
      }
    }
    @media(max-width: 768px) {
      .boxStandards {
        .standard {
          width: 45%;
        }
      }
    }
    @media(max-width: 480px) {
      .boxStandards {
        .standard {
          width: 100%;
        }
      }
    }
  }
  .block2, .block3 {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .block4 {
    margin: 30px 0 10px 0;
  }
  .block5 {
    padding: 0 10px;
    box-sizing: border-box;
    .rows {
      width: 100%;
      margin-bottom: 4%;
      @extend %disFlex;
      .title {
        color: #848484;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
        @extend %overFlowA;
        &:hover {
          color: $globalColor;
        }
      }
      .txtSumary {
        font-size: 16px;
      }
      & > div {
        @extend %disFlex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 50%;
        & > div {
          width: 50%;
        }
      }
      .left {
        text-align: right;
        .material-left {
          border-right: thin solid $globalColor;
          padding-right: 20px;
          &:before {
            right: -50%;
          }
        }
      }
      .right {
        text-align: left;
        .material-left {
          border-left: thin solid $globalColor;
          padding-left: 20px;
          &:before {
            left: -50%;
          }
        }
      }
      .material-left {
        position: relative;
        z-index: 0;
        &:before {
          content: '';
          display: block;
          height: 1px;
          width: 50%;
          background: $globalColor;
          position: absolute;
          top: 50%;
        }
      }
      .material-right {
        z-index: 1;
        .material-img {
          max-width: 100%;
          height: auto;
        }
      }
      &.row2 {
        .left, .right {
          -webkit-align-items: flex-start;
          align-items: flex-start;
        }
      }
      &.row3 {
        margin-top: -4%;
      }
      &.row4 {
        .left {
          .material-right {
            .material-img {
              width: 120%;
              max-width: inherit;
              margin-left: -14%;
            }
          }
        }
      }
      &.row5 {
        img {
          display: block;
          margin: auto;
        }
      }
      &.row6 {
        -webkit-justify-content: space-evenly;
        justify-content: space-evenly;
        & > div {
          display: block;
          width: 40%;
          .txtSumary {
            width: 100%;
          }
          .title {
            margin: 4% 0;
          }
        }
      }
    }
    @media(max-width: 960px) {
      .rows {
        .title {
          font-size: 3vw;
        }
      }
    }
    @media(max-width: 768px) {
      .rows {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-bottom: 0;
        & > div {
          width: 100%;
          margin-bottom: 3%;
        }
        &.row2 {
          .right {
            z-index: 2;
          }
        }
        &.row4 {
          .left {
            .material-right {
              .material-img {
                width: 100%;
                margin-left: 0%;
              }
            }
          }
        }
      }
    }
    @media(max-width: 500px) {
      .rows {
        .title {
          font-size: 4vw;
        }
        .right, .left {
          .material-left {
            border: none;
            padding-left: 0;
            &:before {
              display: none;
            }
          }
        }
        & > div {
          border-bottom: thin dashed $globalColor;
          padding: 2% 0;
          box-sizing: border-box;
          & > div {
            width: 100%;
          }
          .material-left {
            border: none;
            .title {
              text-align: center;
            }
            .txtSumary {
              text-align: justify;
            }
          }
          .material-right {
            .material-img {
              display: block;
              margin: auto;
            }
          }
        }
        &.row2 {
          .right {
            margin-top: 0;
          }
        }
        &.row3 {
          margin-top: 0;
        }
        &.row5 {
          img {
            width: 100%;
            height: auto;
          }
        }
        &.row6 {
          & > div {
            width: 100%;
            .txtSumary {
              text-align: justify !important;
            }
            .title {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .block6 {
    background: url(../images/landing3/banner2.jpg) 100% 0 no-repeat;
    width: 100%;
    height: 239px;
    padding: 0 0 20px 90px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    background-size: cover;
    .arrow {
      top: 155px;
      left: 400px;
    }
    @media(max-width: 768px) {
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: center;
      align-items: center;
      box-sizing: border-box;
      padding: 2% 2% 2% 3%;
      box-sizing: border-box;
      .left, .right {
        width: 40%;
      }
      .right {
        margin: 0;
      }
      .arrow {
        display: none;
      }
    }
    @media(max-width: 640px) {
      .left, .right {
        width: 47%;
      }
    }
    @media(max-width: 500px) {
      padding-left: 0;
      .right {
        .txt {
          font-size: 14px;
        }
      }
    }
    @media (max-width: 400px) {
      padding: 0;
      height: 340px;
      background: url(../images/landing3/banner2.jpg) 0 0 no-repeat;
      background-size: cover;
      .left {
        width: 65%;
        margin-left: -24%;
        display: block;
      }
      .right {
        width: 60%;
        display: block;
        margin: auto;
      }
    }
  }
  .block7 {
    padding: 20px 30px 50px 30px;
    box-sizing: border-box;
    background: $globalColor;
    h2.title {
      color: #ffffff;
      margin-top: 0;
    }
    .boxAnswer {
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      .reason {
        width: 46%;
        border-bottom: thin dashed #ffffff;
        padding: 15px 0;
        box-sizing: border-box;
        @extend %disFlex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        .left {
          width: 22%;
          img {
            width: 100%;
          }
        }
        .right {
          width: 66%;
          color: #ffffff;
          font-size: 14px;
          text-align: justify;
        }
        &:nth-child(5), &:nth-child(6) {
          border: none;
        }
      }
    }
    @media(max-width: 1024px) {
      .boxAnswer {
        .reason {
          .left {
            width: 25%;
          }
          .right {
            width: 70%;
          }
        }
      }
    }
    @media(max-width: 768px) {
      .boxAnswer {
        .reason {
          width: 48%;
        }
      }
    }
    @media(max-width: 680px) {
      .boxAnswer {
        .reason {
          width: 100%;
          .left {
            width: 30%;
          }
          .right {
            width: 65%;
          }
        }
      }
    }
  }
  .block8, .block9, .block10 {
    color: #848484;
    font-size: 16px;
  }
  .block8, .block9, .block10, .block11, .block12 {
    background: #f1f1f1;
  }
  .block8 {
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .block9 {
    border-top: thin dashed $globalColor;
    border-bottom: thin dashed $globalColor;
    padding: 20px;
    box-sizing: border-box;
    .boxAnswer {
      @extend %disFlex;
      -webkit-align-items: center;
      align-items: center;
      & > div {
        width: 50%;
        text-align: center;
        img {
          display: block;
          margin: auto;
        }
      }
      .left {
        border-right: thin dashed $globalColor;
      }
    }
    @media (max-width: 620px) {
      .boxAnswer {
        .left {
          width: 55%;
          padding-right: 2%;
        }
        .right {
          width: 45%;
          padding-left: 2%;
        }
      }
    }
    @media (max-width: 484px) {
      .boxAnswer {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        .left {
          border-right: none;
          border-bottom: thin dashed #00b034;
        }
        .left, .right {
          width: 100%;
          padding: 2%;
          box-sizing: border-box;
        }
      }
    }
  }
  .block10 {
    @extend %disFlex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: thin dashed $globalColor;
    .left {
      width: 30%;
      text-align: center;
      img {
        display: block;
        margin: 0 auto 20px auto;
      }
      span {
        width: 100%;
        display: block;
      }
    }
    .right {
      width: 60%;
      h2.title {
        margin: 0 0 10px 0;
        text-align: left;
      }
      .boxAnswer {
        text-align: justify;
      }
    }
    @media (max-width: 660px) {
      .left {
        width: 33%;
      }
      .right {
        width: 63%;
      }
    }
    @media (max-width: 590px) {
      .left {
        width: 66%;
        margin: auto;
      }
      .right {
        width: 100%;
        margin-top: 5%;
      }
    }
  }
  .block11 {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin-top: 0;
    padding-top: 20px;
    .drugs {
      margin: 10px 0;
    }
    .arrow {
      top: 150px;
    }
    #slideRelatedProducts {
      margin-top: 20px;
      .owl-item {
        background: url("../images/landing3/shadow.png") bottom center no-repeat;
        padding-bottom: 15px;
      }
      .product {
        width: 235px;
        margin: auto;
        border: thin solid #999999;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 20px;
        padding: 20px 0 10px 0;
        box-sizing: border-box;
        background: #ffffff;
        span {
          width: 100%;
          display: block;
          margin: 10px auto;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
          &:last-child {
            font-size: 13px;
          }
        }
        .buyNow {
          width: 150px;
          height: 30px;
          line-height: 30px;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          display: block;
          margin: auto;
          font-size: 22px;
          &:hover {
            color: $globalColor;
          }
        }
        img {
          display: block;
          margin: auto;
        }
        .price {
          text-transform: capitalize;
          .showPrice {
            font-style: normal;
            font-size: 20px;
          }
        }
        &.product2 {
          color: #00b034;
          .buyNow {
            background: #00b034;
          }
        }
        &.product3 {
          color: #00b5ef;
          .buyNow {
            background: #00b5ef;
          }
        }
        &.product4 {
          color: #b33f8d;
          .buyNow {
            background: #b33f8d;
          }
        }
        &.product5 {
          color: #ec9b26;
          .buyNow {
            background: #ec9b26;
          }
        }
      }
      .owl-buttons {
        display: none;
      }
      .owl-pagination {
        text-align: center;
        .owl-page {
          background: #8c8888;
          width: 10px;
          height: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin: 0 15px;
          display: inline-block;
          &.active {
            background: $globalColor;
          }
        }
      }
    }
    @media(max-width: 680px) {
      -webkit-align-items: center;
      align-items: center;
      .right {
        padding-right: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  .block12 {
    padding: 10px 0;
    .arrow2 {
      background: url("../images/landing3/arrow2.png");
      width: 28px;
      height: 51px;
      -webkit-background-size: 100%;
      background-size: 100%;
      display: block;
      margin: auto;
    }
    h2.title {
      &:before, &:after {
        content: '';
        height: 1px;
        background: $globalColor;
        width: 27%;
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        margin-right: 3%;
      }
      &:after {
        margin-left: 3%;
      }
    }
    .boxExp {
      padding: 0 100px;
      box-sizing: border-box;
      .exp {
        @extend %disFlex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        border-bottom: thin solid #e1e1e1;
        padding: 30px 0 50px 0;
        &:last-child {
          border: none;
        }
        .left {
          width: 15%;
          padding-top: 5px;
          box-sizing: border-box;
        }
        .right {
          width: 85%;
          .title {
            color: $globalColor;
            font-weight: bold;
            font-size: 17px;
            width: 100%;
          }
          .txtSumary {
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 990px) {
      h2.title {
        &:before, &:after {
          width: 24%;
        }
        &:before {
          margin-right: 1%;
        }
        &:after {
          margin-left: 1%;
        }
      }
    }
    @media (max-width: 900px) {
      .boxExp {
        padding: 0 5%;
      }
    }
    @media (max-width: 800px) {
      h2.title {
        &:before, &:after {
          width: 20%;
        }
      }
    }
    @media (max-width: 735px) {
      .boxExp {
        .exp {
          padding: 20px 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .left {
            width: 20%;
          }
          .right {
            width: 80%;
          }
        }
      }
    }
    @media (max-width: 680px) {
      h2.title {
        &:before, &:after {
          display: none;
        }
      }
    }
    @media (max-width: 580px) {
      .boxExp {
        .exp {
          .left {
            width: 25%;
          }
          .right {
            width: 75%;
          }
        }
      }
    }
    @media (max-width: 420px) {
      .boxExp {
        .exp {
          .left {
            width: 40%;
            margin: 0 auto 5% auto;
            img {
              display: block;
              margin: auto;
            }
          }
          .right {
            width: 100%;
          }
        }
      }
    }
  }
  .block13 {
    padding: 20px;
    box-sizing: border-box;
    h2.title {
      font-weight: bold;
    }
    .note-pp {
      font-size: 21px;
      font-weight: bold;
    }
    .note {
      .title {
        font-size: 16px;
        margin: 25px 0;
        .number {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: $globalColor;
          display: inline-block;
          color: #fff;
          text-align: center;
          line-height: 30px;
          font-weight: 700;
        }
      }
      &.note1 {
        .title {
          a {
            font-size: 17px;
          }
        }
        form {
          & > div {
            @extend %disFlex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            &.row2 {
              -webkit-justify-content: space-between;
              justify-content: space-between;
              label {
                margin-left: 10px;
              }
            }
            &.row3 {
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              label {
                margin-left: 10px;
              }
            }
          }

          select, input {
            padding-left: 10px;
            width: 47.5%;
            height: 35px;
            line-height: 35px;
            background: #f1f2f2;
            border: none;
            color: #9fa1a4;
            margin-bottom: 10px;
            &.sl-onl {
              width: 30%;
              margin-left: 5%;
            }
          }
          .error {
            width: 100%;
            color: red;
            text-align: center;
            display: block;
            margin-top: 10px;
          }
          .btn-order-onl {
            background: #ed1c24;
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            border: none;
            height: 35px;
            line-height: 35px;
            text-align: center;
            padding: 0 15px;
            box-sizing: border-box;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            margin: 10px auto;
            &:hover {
              color: #ff0;
            }
          }
        }
        @media (max-width: 460px) {
          form {
            input, select {
              width: 100%
            }
            .sl-onl {
              margin-left: 0 !important
            }
            .btn-order-onl {
              margin: auto
            }
          }
        }
      }
      &.note2 {
        a {
          color: #ed1c24;
          font-weight: 700;
        }
      }
      &.note3 {
        a {
          color: #000000;
          &:hover {
            color: $globalColor;
          }
        }
      }
    }
    @media(max-width: 767px) {
      width: 96%;
      margin: auto;
    }
  }
  @media(max-width: 1059px) {
    margin-top: 7%;
    .fixCen {
      border: none;
      width: 100%;
    }
  }
  @media (max-width: 960px) {
      margin-top: 20%;
  }
  @media (max-width: 768px) {
    margin-top: 70px;
  }
}
footer{
  padding: 60px 0 20px 0;
  background: #009FE3;
  color: #ffffff;
  a{
    color: #ffffff;
    &:hover{
      color: #3F51B5;
    }
  }
  .areaSocial{
    .listSocial{
      text-align: center;
      li{
        display: inline-block;
        margin: 0 20px;
        a{
          display: block;
          width: 69px;
          height: 70px;
          font-size: 0;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &:hover{
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
          }
          &.se{
            background: url("../images/landing3/icon_search.png") no-repeat;
          }
          &.yu{
            background: url("../images/landing3/icon_youtube.png") no-repeat;
          }
          &.fb{
            background: url("../images/landing3/icon_fb.png") no-repeat;
          }
          &.go{
            background: url("../images/landing3/icon_gg.png") no-repeat;
          }
        }
      }
    }
  }
  .areaLink{
    margin: 30px 0;
    .listCategory{
      text-align: center;
      li{
        display: inline-block;
        margin: 0 5px;
        a{
          font-size: 17px;
          text-transform: uppercase;
        }
      }
    }
  }
  .copyRight{
    text-align: center;
  }
  @media(max-width: 1059px) {
    .fixCen{
      width: 100%;
      padding: 0 3%;
      box-sizing: border-box;
    }
  }
}
.goTop{
  background: url("../images/landing3/goTop.png") no-repeat;
  width: 36px;
  height: 36px;
  display: block;
  position: fixed;
  bottom: 50px;
  right: 20px;
}