html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #000000;
}
li.rs{
  list-style: none;
}
.pr{
  position: relative;
}
.pa {
  position: absolute;
}
.px{
  position: fixed;
}
a{
  text-decoration: none;
  &:hover, &.active{
    text-decoration: none;
  }
}
h1 {
  font-size: 20px;
  font-weight: normal;
}
.rs{
  margin: 0;
  padding: 0;
}
.imgFull{
  width: 100%;
  height: auto;
}
.z2{
  z-index: 2;
}
.z10{
  z-index: 10;
}
.fixCen{
  width: 1060px;
  position: relative;
  margin: 0 auto;
}
$globalColor: #58bb2b;
a{
  color: $globalColor;
  &:hover{
    color: #7a7a7a;
  }
}
%aProp{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
%overFlowA{
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%transition{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out ;
  -ms-transition: all 0.3s ease-in-out ;
  -o-transition: all 0.3s ease-in-out ;
  transition: all 0.3s ease-in-out ;
}
%h2Prop{
  color: #ffffff;
  background: #2f962b;
  font-size: 16px;
  width: 42%;
  text-align: center;
  padding: 10px 0;
}
%liProp{
  list-style: none;
}
%spanProp{
  background: #00642c;
  color: #fff;
  font-family: firstFont,sans-serif;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 80%;
  height: 30px;
  line-height: 30px;

}
%disFlex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}



header{
  .menuTop{
    width: 100%;
    height: 90px;
    background: #4f9bd5;
    .contain{
      width: 1100px;
      position: relative;
      margin: auto;
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      .logo{
        width: 200px;
      }
    }
    ul{
      @extend %disFlex;
      width: 880px;
      height: 42px;
      margin-top: -20px;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      li{
        height: 100%;
        width: 12%;
        line-height: 42px;
        text-align: center;
        border-right: thin solid #3f6bb1;
        &:nth-child(2){
          line-height: 25px;
        }
        &:last-child{
          border: none;
        }
        a{
          display: block;
          height: 100%;
          color: #ffffff;
          font-family: Arial bold, sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          &:hover, &.active{
            color: #FFEB3B;
          }
        }
      }
    }
  }
}
.body{
  margin-top: 30px;
  .fixCen{
    border-left: thin solid #eeeeee47;
    border-right: thin solid #eeeeee47;
  }
   h2.title{
    font-size: 28px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $globalColor;
    margin: 20px 0;
  }
  .block2, .block6{
    @extend %disFlex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 20px;
    .left{
      width: 260px;
    }
    .right{
      width: 300px;
      margin: 0 0 25px 90px;
      .txt{
        display: block;
        text-transform: uppercase;
        color: $globalColor;
        font-size: 17px;
        font-weight: bold;
        &.txt2{
          background: $globalColor;
          font-size: 23px;
          width: 175px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          margin: 10px 0;
          a{
            color: #ffffff;
            &:hover{
              color: #7a7a7a;
            }
          }
        }
        &.txt3{
          a{
            color: #7a7a7a;
            &:hover{
              color: $globalColor;
            }
          }
          border-top: thin solid $globalColor;
          border-bottom: thin solid $globalColor;
        }
      }
    }
    .arrow{
      top: 130px;
      left: 48.5%;
      margin-left: -34px;
    }
    .bottom{
      width: 100%;
      .boxAnswer{
        font-size: 16px;
        text-align: justify;
      }
    }
  }
  .block3{
    h2.title{
      font-weight: bold;
    }
    .boxStandards{
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .standard{
        width: 18%;
        a{
          text-transform: uppercase;
          color: #000000;
          font-size: 16px;
          font-weight: bold;
          display: block;
          width: 100%;
          img{
            display: block;
            margin: auto;
          }
          margin: 5px 0;
        }
        .txtSumary{
          color: #7d7d7d;
          font-size: 15px;
          text-align: justify;
        }
      }
    }
  }
  .block2, .block3{
    padding: 0 10px;
    box-sizing: border-box;
  }
  .block4{
    margin: 30px 0 10px 0;
  }
  .block6{
    background: url("../images/landing/banner2.jpg") no-repeat;
    width: 100%;
    height: 242px;
    padding: 0 0 20px 90px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    .arrow{
      top: 155px;
      left: 400px;
    }
  }
  .block7{
    padding: 20px 30px 50px 30px;
    box-sizing: border-box;
    background: $globalColor;
    h2.title{
      color: #ffffff;
      margin-top: 0;
    }
    .boxAnswer{
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      .reason{
        width: 46%;
        border-bottom: thin dashed #ffffff;
        padding: 15px 0;
        box-sizing: border-box;
        @extend  %disFlex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        .left{
          width: 98px;
        }
        .right{
          width: 315px;
          color: #ffffff;
          font-size: 14px;
          text-align: justify;
        }
        &:nth-child(5),&:nth-child(6){
          border: none;
        }
      }
    }
  }
}


































