html,
body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #000000; }

li.rs {
  list-style: none; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.px {
  position: fixed; }

a {
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: none; }

h1 {
  font-size: 20px;
  font-weight: normal; }

.rs {
  margin: 0;
  padding: 0; }

.imgFull {
  width: 100%;
  height: auto; }

.z2 {
  z-index: 2; }

.z10 {
  z-index: 10; }

.fixCen {
  width: 1060px;
  position: relative;
  margin: 0 auto; }

a {
  color: #00b034; }
  a:hover {
    color: #7a7a7a; }

.body .block5 .rows .title {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

header .menuTop .contain, header .menuTop #menuMb, .body .block2, .body .block6, .body .relatedProducts, .body .block3 .boxStandards, .body .block5 .rows, .body .block5 .rows > div, .body .block7 .boxAnswer, .body .block7 .boxAnswer .reason, .body .block9 .boxAnswer, .body .block10, .body .block12 .boxExp .exp, .body .block13 .note.note1 form > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.disFlex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important; }

header .menuTop {
  width: 100%;
  height: 90px;
  background: #4f9bd5; }
  header .menuTop .contain {
    width: 1100px;
    position: relative;
    margin: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
  header .menuTop .logo {
    width: 200px; }
    header .menuTop .logo img.logomb {
      display: none; }
  header .menuTop .btnMenu {
    display: none;
    width: 44px;
    height: 44px;
    display: block;
    top: 5px;
    right: 5px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  header .menuTop #menuMb {
    width: 880px;
    height: 42px;
    margin-top: -20px;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    header .menuTop #menuMb li {
      height: 100%;
      width: 12%;
      line-height: 42px;
      text-align: center;
      border-right: thin solid #3f6bb1;
      position: relative; }
      header .menuTop #menuMb li:nth-child(2) {
        line-height: 25px; }
      header .menuTop #menuMb li:last-child {
        border: none; }
      header .menuTop #menuMb li a {
        display: block;
        height: 100%;
        color: #ffffff;
        font-family: Arial bold, sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold; }
        header .menuTop #menuMb li a:hover, header .menuTop #menuMb li a.active {
          color: #3F51B5; }
      header .menuTop #menuMb li .hasSub {
        display: none;
        position: absolute;
        left: -5px;
        top: 56px;
        padding: 5px 0;
        width: 220px;
        list-style: none;
        z-index: 11; }
        header .menuTop #menuMb li .hasSub li {
          width: 100%;
          padding: 0 10px;
          text-align: left;
          border: none; }
          header .menuTop #menuMb li .hasSub li a {
            display: block;
            line-height: 35px;
            font-size: 13px;
            color: #fff;
            white-space: nowrap; }
            header .menuTop #menuMb li .hasSub li a:hover {
              color: #3F51B5; }
          header .menuTop #menuMb li .hasSub li.color01 {
            background: #6dbc44; }
          header .menuTop #menuMb li .hasSub li.color02 {
            background: #ee9fbd; }
          header .menuTop #menuMb li .hasSub li.color03 {
            background: #00afdd; }
          header .menuTop #menuMb li .hasSub li.color04 {
            background: #ae4a9c; }
          header .menuTop #menuMb li .hasSub li.color05 {
            background: #f19231; }
      header .menuTop #menuMb li:hover > .hasSub {
        display: block; }
  @media (max-width: 1099px) {
    header .menuTop .contain {
      width: 100%; }
    header .menuTop .logo {
      width: 20%; }
      header .menuTop .logo img {
        width: 100%;
        height: auto; }
    header .menuTop #menuMb {
      width: 80%; }
      header .menuTop #menuMb li a {
        font-size: 14px; } }
  @media (max-width: 960px) {
    header .menuTop {
      height: auto; }
      header .menuTop .logo {
        width: 20%;
        display: block;
        margin: auto;
        margin-bottom: 3%; }
      header .menuTop #menuMb {
        width: 100%;
        background: #4f9bd5;
        padding: 2% 0;
        height: auto; } }
  @media (max-width: 768px) {
    header .menuTop {
      width: 100%;
      display: block; }
      header .menuTop .logo {
        width: 200px; }
        header .menuTop .logo img.logoPC {
          display: none; }
        header .menuTop .logo img.logomb {
          display: block; }
      header .menuTop #menuMb {
        margin-top: -550px;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
        header .menuTop #menuMb li {
          width: 51%;
          height: auto;
          border-right: none;
          border-bottom: thin solid #3f6bb1;
          padding: 0;
          box-sizing: border-box;
          display: block;
          margin: auto; }
          header .menuTop #menuMb li .hasSub {
            position: relative;
            top: inherit;
            padding: 0;
            width: 100%;
            left: inherit; }
      header .menuTop .btnMenu {
        display: block; }
        header .menuTop .btnMenu.show {
          background: url("../images/landing/open-btn.png") no-repeat; }
        header .menuTop .btnMenu.close {
          background: url("../images/landing/close-btn.png") no-repeat; } }
  @media (max-width: 480px) {
    header .menuTop #menuMb li {
      width: 70%; } }

.body {
  margin-top: 30px; }
  .body .fixCen {
    border-left: thin solid #eeeeee47;
    border-right: thin solid #eeeeee47;
    background: #ffffff; }
  .body h2.title {
    font-size: 28px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #00b034;
    margin: 20px 0; }
  .body .block2, .body .block6, .body .relatedProducts {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 20px; }
    .body .block2 .left, .body .block6 .left, .body .relatedProducts .left {
      width: 260px; }
    .body .block2 .right, .body .block6 .right, .body .relatedProducts .right {
      width: 300px;
      margin: 0 0 25px 90px; }
      .body .block2 .right .txt, .body .block6 .right .txt, .body .relatedProducts .right .txt {
        display: block;
        text-transform: uppercase;
        color: #00b034;
        font-size: 17px;
        font-weight: bold; }
        .body .block2 .right .txt.txt2, .body .block6 .right .txt.txt2, .body .relatedProducts .right .txt.txt2 {
          background: #00b034;
          font-size: 23px;
          width: 175px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          margin: 10px 0; }
          .body .block2 .right .txt.txt2 a, .body .block6 .right .txt.txt2 a, .body .relatedProducts .right .txt.txt2 a {
            color: #ffffff; }
            .body .block2 .right .txt.txt2 a:hover, .body .block6 .right .txt.txt2 a:hover, .body .relatedProducts .right .txt.txt2 a:hover {
              color: #7a7a7a; }
        .body .block2 .right .txt.txt3, .body .block6 .right .txt.txt3, .body .relatedProducts .right .txt.txt3 {
          border-top: thin solid #00b034;
          border-bottom: thin solid #00b034; }
          .body .block2 .right .txt.txt3 a, .body .block6 .right .txt.txt3 a, .body .relatedProducts .right .txt.txt3 a {
            color: #7a7a7a; }
            .body .block2 .right .txt.txt3 a:hover, .body .block6 .right .txt.txt3 a:hover, .body .relatedProducts .right .txt.txt3 a:hover {
              color: #00b034; }
    .body .block2 .arrow, .body .block6 .arrow, .body .relatedProducts .arrow {
      top: 130px;
      left: 48.5%;
      margin-left: -34px; }
    .body .block2 .bottom, .body .block6 .bottom, .body .relatedProducts .bottom {
      width: 100%; }
      .body .block2 .bottom .boxAnswer, .body .block6 .bottom .boxAnswer, .body .relatedProducts .bottom .boxAnswer {
        font-size: 16px;
        text-align: justify; }
  @media (max-width: 680px) {
    .body .block2, .body .block11 {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center; }
      .body .block2 .left, .body .block2 .right, .body .block11 .left, .body .block11 .right {
        width: 48%; }
      .body .block2 .right, .body .block11 .right {
        margin: 0; }
      .body .block2 .arrow, .body .block11 .arrow {
        display: none; } }
  @media (max-width: 480px) {
    .body .block2 .left, .body .block11 .left {
      width: 80%; }
    .body .block2 .right, .body .block11 .right {
      width: 63%;
      margin: 3% auto; } }
  .body .block3 h2.title {
    font-weight: bold; }
  .body .block3 .boxStandards {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    .body .block3 .boxStandards .standard {
      width: 18%; }
      .body .block3 .boxStandards .standard a {
        text-transform: uppercase;
        color: #000000;
        font-size: 15px;
        font-weight: bold;
        display: block;
        width: 100%;
        margin: 5px 0;
        text-align: center; }
        .body .block3 .boxStandards .standard a img {
          display: block;
          margin: auto; }
      .body .block3 .boxStandards .standard .txtSumary {
        color: #7d7d7d;
        font-size: 15px;
        text-align: justify; }
  @media (max-width: 960px) {
    .body .block3 .boxStandards {
      -webkit-justify-content: space-around;
      justify-content: space-around; }
      .body .block3 .boxStandards .standard {
        width: 30%;
        margin-bottom: 3%; } }
  @media (max-width: 768px) {
    .body .block3 .boxStandards .standard {
      width: 45%; } }
  @media (max-width: 480px) {
    .body .block3 .boxStandards .standard {
      width: 100%; } }
  .body .block2, .body .block3 {
    padding: 0 10px;
    box-sizing: border-box; }
  .body .block4 {
    margin: 30px 0 10px 0; }
  .body .block5 {
    padding: 0 10px;
    box-sizing: border-box; }
    .body .block5 .rows {
      width: 100%;
      margin-bottom: 4%; }
      .body .block5 .rows .title {
        color: #848484;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold; }
        .body .block5 .rows .title:hover {
          color: #00b034; }
      .body .block5 .rows .txtSumary {
        font-size: 16px; }
      .body .block5 .rows > div {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 50%; }
        .body .block5 .rows > div > div {
          width: 50%; }
      .body .block5 .rows .left {
        text-align: right; }
        .body .block5 .rows .left .material-left {
          border-right: thin solid #00b034;
          padding-right: 20px; }
          .body .block5 .rows .left .material-left:before {
            right: -50%; }
      .body .block5 .rows .right {
        text-align: left; }
        .body .block5 .rows .right .material-left {
          border-left: thin solid #00b034;
          padding-left: 20px; }
          .body .block5 .rows .right .material-left:before {
            left: -50%; }
      .body .block5 .rows .material-left {
        position: relative;
        z-index: 0; }
        .body .block5 .rows .material-left:before {
          content: '';
          display: block;
          height: 1px;
          width: 50%;
          background: #00b034;
          position: absolute;
          top: 50%; }
      .body .block5 .rows .material-right {
        z-index: 1; }
        .body .block5 .rows .material-right .material-img {
          max-width: 100%;
          height: auto; }
      .body .block5 .rows.row2 .left, .body .block5 .rows.row2 .right {
        -webkit-align-items: flex-start;
        align-items: flex-start; }
      .body .block5 .rows.row3 {
        margin-top: -17%; }
      .body .block5 .rows.row4 .left .material-right .material-img {
        width: 130%;
        max-width: inherit;
        margin-left: -14%; }
      .body .block5 .rows.row5 img {
        display: block;
        margin: auto; }
      .body .block5 .rows.row6 {
        -webkit-justify-content: space-evenly;
        justify-content: space-evenly; }
        .body .block5 .rows.row6 > div {
          display: block;
          width: 40%; }
          .body .block5 .rows.row6 > div .txtSumary {
            width: 100%; }
          .body .block5 .rows.row6 > div .title {
            margin: 4% 0; }
    @media (max-width: 960px) {
      .body .block5 .rows .title {
        font-size: 3vw; } }
    @media (max-width: 768px) {
      .body .block5 .rows {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-bottom: 0; }
        .body .block5 .rows > div {
          width: 100%;
          margin-bottom: 3%; }
        .body .block5 .rows.row2 .right {
          margin-top: -30%;
          z-index: 2; }
        .body .block5 .rows.row3 {
          margin-top: -10%; }
        .body .block5 .rows.row4 .left .material-right .material-img {
          width: 100%;
          margin-left: 0%; } }
    @media (max-width: 500px) {
      .body .block5 .rows .title {
        font-size: 4vw; }
      .body .block5 .rows .right .material-left, .body .block5 .rows .left .material-left {
        border: none;
        padding-left: 0; }
        .body .block5 .rows .right .material-left:before, .body .block5 .rows .left .material-left:before {
          display: none; }
      .body .block5 .rows > div {
        border-bottom: thin dashed #00b034;
        padding: 2% 0;
        box-sizing: border-box; }
        .body .block5 .rows > div > div {
          width: 100%; }
        .body .block5 .rows > div .material-left {
          border: none; }
          .body .block5 .rows > div .material-left .title {
            text-align: center; }
          .body .block5 .rows > div .material-left .txtSumary {
            text-align: justify; }
        .body .block5 .rows > div .material-right .material-img {
          display: block;
          margin: auto; }
      .body .block5 .rows.row2 .right {
        margin-top: 0; }
      .body .block5 .rows.row3 {
        margin-top: 0; }
      .body .block5 .rows.row5 img {
        width: 100%;
        height: auto; }
      .body .block5 .rows.row6 > div {
        width: 100%; }
        .body .block5 .rows.row6 > div .txtSumary {
          text-align: justify !important; }
        .body .block5 .rows.row6 > div .title {
          text-align: center; } }
  .body .block6 {
    background: url("../images/landing/banner2.jpg") 100% 0 no-repeat;
    width: 100%;
    height: 242px;
    padding: 0 0 20px 90px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
    .body .block6 .arrow {
      top: 155px;
      left: 400px; }
    @media (max-width: 768px) {
      .body .block6 {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        box-sizing: border-box;
        padding: 2% 2% 2% 3%;
        box-sizing: border-box; }
        .body .block6 .left, .body .block6 .right {
          width: 40%; }
        .body .block6 .right {
          margin: 0; }
        .body .block6 .arrow {
          display: none; } }
    @media (max-width: 640px) {
      .body .block6 .left, .body .block6 .right {
        width: 47%; } }
    @media (max-width: 500px) {
      .body .block6 {
        padding-left: 0; }
        .body .block6 .right .txt {
          font-size: 14px; } }
    @media (max-width: 400px) {
      .body .block6 {
        padding: 0;
        height: 340px;
        background: url(../images/landing/banner2.jpg) 0 0 no-repeat;
        background-size: cover; }
        .body .block6 .left {
          width: 65%;
          margin-left: -24%;
          display: block; }
        .body .block6 .right {
          width: 60%;
          display: block;
          margin: auto; } }
  .body .block7 {
    padding: 20px 30px 50px 30px;
    box-sizing: border-box;
    background: #00b034; }
    .body .block7 h2.title {
      color: #ffffff;
      margin-top: 0; }
    .body .block7 .boxAnswer {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; }
      .body .block7 .boxAnswer .reason {
        width: 46%;
        border-bottom: thin dashed #ffffff;
        padding: 15px 0;
        box-sizing: border-box;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap; }
        .body .block7 .boxAnswer .reason .left {
          width: 22%; }
          .body .block7 .boxAnswer .reason .left img {
            width: 100%; }
        .body .block7 .boxAnswer .reason .right {
          width: 66%;
          color: #ffffff;
          font-size: 14px;
          text-align: justify; }
        .body .block7 .boxAnswer .reason:nth-child(5), .body .block7 .boxAnswer .reason:nth-child(6) {
          border: none; }
    @media (max-width: 1024px) {
      .body .block7 .boxAnswer .reason .left {
        width: 25%; }
      .body .block7 .boxAnswer .reason .right {
        width: 70%; } }
    @media (max-width: 768px) {
      .body .block7 .boxAnswer .reason {
        width: 48%; } }
    @media (max-width: 680px) {
      .body .block7 .boxAnswer .reason {
        width: 100%; }
        .body .block7 .boxAnswer .reason .left {
          width: 30%; }
        .body .block7 .boxAnswer .reason .right {
          width: 65%; } }
  .body .block8, .body .block9, .body .block10 {
    color: #848484;
    font-size: 16px; }
  .body .block8, .body .block9, .body .block10, .body .block11, .body .block12 {
    background: #f1f1f1; }
  .body .block8 {
    padding: 20px 10px;
    box-sizing: border-box; }
  .body .block9 {
    border-top: thin dashed #00b034;
    border-bottom: thin dashed #00b034;
    padding: 20px;
    box-sizing: border-box; }
    .body .block9 .boxAnswer {
      -webkit-align-items: center;
      align-items: center; }
      .body .block9 .boxAnswer > div {
        width: 50%;
        text-align: center; }
        .body .block9 .boxAnswer > div img {
          display: block;
          margin: auto; }
      .body .block9 .boxAnswer .left {
        border-right: thin dashed #00b034; }
    @media (max-width: 620px) {
      .body .block9 .boxAnswer .left {
        width: 55%;
        padding-right: 2%; }
      .body .block9 .boxAnswer .right {
        width: 45%;
        padding-left: 2%; } }
    @media (max-width: 484px) {
      .body .block9 .boxAnswer {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap; }
        .body .block9 .boxAnswer .left {
          border-right: none;
          border-bottom: thin dashed #00b034; }
        .body .block9 .boxAnswer .left, .body .block9 .boxAnswer .right {
          width: 100%;
          padding: 2%;
          box-sizing: border-box; } }
  .body .block10 {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: thin dashed #00b034; }
    .body .block10 .left {
      width: 30%;
      text-align: center; }
      .body .block10 .left img {
        display: block;
        margin: 0 auto 20px auto; }
      .body .block10 .left span {
        width: 100%;
        display: block; }
    .body .block10 .right {
      width: 60%; }
      .body .block10 .right h2.title {
        margin: 0 0 10px 0;
        text-align: left; }
      .body .block10 .right .boxAnswer {
        text-align: justify; }
    @media (max-width: 660px) {
      .body .block10 .left {
        width: 33%; }
      .body .block10 .right {
        width: 63%; } }
    @media (max-width: 590px) {
      .body .block10 .left {
        width: 66%;
        margin: auto; }
      .body .block10 .right {
        width: 100%;
        margin-top: 5%; } }
  .body .block11 {
    -webkit-align-items: center;
    align-items: center;
    margin-top: 0;
    padding-top: 20px; }
    .body .block11 .drugs {
      margin: 10px 0; }
    .body .block11 .arrow {
      top: 150px; }
    .body .block11 #slideRelatedProducts {
      margin-top: 20px; }
      .body .block11 #slideRelatedProducts .owl-item {
        background: url("../images/landing/shadow.png") bottom center no-repeat;
        padding-bottom: 15px; }
      .body .block11 #slideRelatedProducts .product {
        width: 235px;
        margin: auto;
        border: thin solid #999999;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 20px;
        padding: 20px 0 10px 0;
        box-sizing: border-box;
        background: #ffffff; }
        .body .block11 #slideRelatedProducts .product span {
          width: 100%;
          display: block;
          margin: 10px auto;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase; }
          .body .block11 #slideRelatedProducts .product span:last-child {
            font-size: 13px; }
        .body .block11 #slideRelatedProducts .product .buyNow {
          width: 150px;
          height: 30px;
          line-height: 30px;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          display: block;
          margin: auto;
          font-size: 22px; }
          .body .block11 #slideRelatedProducts .product .buyNow:hover {
            color: #00b034; }
        .body .block11 #slideRelatedProducts .product img {
          display: block;
          margin: auto; }
        .body .block11 #slideRelatedProducts .product .price {
          text-transform: capitalize; }
          .body .block11 #slideRelatedProducts .product .price .showPrice {
            font-style: normal;
            font-size: 20px; }
        .body .block11 #slideRelatedProducts .product.product2 {
          color: #f07d9f; }
          .body .block11 #slideRelatedProducts .product.product2 .buyNow {
            background: #f07d9f; }
        .body .block11 #slideRelatedProducts .product.product3 {
          color: #00b5ef; }
          .body .block11 #slideRelatedProducts .product.product3 .buyNow {
            background: #00b5ef; }
        .body .block11 #slideRelatedProducts .product.product4 {
          color: #b33f8d; }
          .body .block11 #slideRelatedProducts .product.product4 .buyNow {
            background: #b33f8d; }
        .body .block11 #slideRelatedProducts .product.product5 {
          color: #ec9b26; }
          .body .block11 #slideRelatedProducts .product.product5 .buyNow {
            background: #ec9b26; }
      .body .block11 #slideRelatedProducts .owl-buttons {
        display: none; }
      .body .block11 #slideRelatedProducts .owl-pagination {
        text-align: center; }
        .body .block11 #slideRelatedProducts .owl-pagination .owl-page {
          background: #8c8888;
          width: 10px;
          height: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          margin: 0 15px;
          display: inline-block; }
          .body .block11 #slideRelatedProducts .owl-pagination .owl-page.active {
            background: #00b034; }
    @media (max-width: 680px) {
      .body .block11 .right {
        padding-right: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  .body .block12 {
    padding: 10px 0; }
    .body .block12 .arrow2 {
      background: url("../images/landing/arrow2.png");
      width: 28px;
      height: 51px;
      -webkit-background-size: 100%;
      background-size: 100%;
      display: block;
      margin: auto; }
    .body .block12 h2.title:before, .body .block12 h2.title:after {
      content: '';
      height: 1px;
      background: #00b034;
      width: 27%;
      display: inline-block;
      vertical-align: middle; }
    .body .block12 h2.title:before {
      margin-right: 3%; }
    .body .block12 h2.title:after {
      margin-left: 3%; }
    .body .block12 .boxExp {
      padding: 0 100px;
      box-sizing: border-box; }
      .body .block12 .boxExp .exp {
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        border-bottom: thin solid #e1e1e1;
        padding: 30px 0 50px 0; }
        .body .block12 .boxExp .exp:last-child {
          border: none; }
        .body .block12 .boxExp .exp .left {
          width: 15%;
          padding-top: 5px;
          box-sizing: border-box; }
        .body .block12 .boxExp .exp .right {
          width: 85%; }
          .body .block12 .boxExp .exp .right .title {
            color: #00b034;
            font-weight: bold;
            font-size: 17px;
            width: 100%; }
          .body .block12 .boxExp .exp .right .txtSumary {
            width: 100%; }
    @media (max-width: 990px) {
      .body .block12 h2.title:before, .body .block12 h2.title:after {
        width: 24%; }
      .body .block12 h2.title:before {
        margin-right: 1%; }
      .body .block12 h2.title:after {
        margin-left: 1%; } }
    @media (max-width: 900px) {
      .body .block12 .boxExp {
        padding: 0 5%; } }
    @media (max-width: 800px) {
      .body .block12 h2.title:before, .body .block12 h2.title:after {
        width: 20%; } }
    @media (max-width: 735px) {
      .body .block12 .boxExp .exp {
        padding: 20px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .body .block12 .boxExp .exp .left {
          width: 20%; }
        .body .block12 .boxExp .exp .right {
          width: 80%; } }
    @media (max-width: 680px) {
      .body .block12 h2.title:before, .body .block12 h2.title:after {
        display: none; } }
    @media (max-width: 580px) {
      .body .block12 .boxExp .exp .left {
        width: 25%; }
      .body .block12 .boxExp .exp .right {
        width: 75%; } }
    @media (max-width: 420px) {
      .body .block12 .boxExp .exp .left {
        width: 40%;
        margin: 0 auto 5% auto; }
        .body .block12 .boxExp .exp .left img {
          display: block;
          margin: auto; }
      .body .block12 .boxExp .exp .right {
        width: 100%; } }
  .body .block13 {
    padding: 20px;
    box-sizing: border-box; }
    .body .block13 h2.title {
      font-weight: bold; }
    .body .block13 .note-pp {
      font-size: 21px;
      font-weight: bold; }
    .body .block13 .note .title {
      font-size: 16px;
      margin: 25px 0; }
      .body .block13 .note .title .number {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #00b034;
        display: inline-block;
        color: #fff;
        text-align: center;
        line-height: 30px;
        font-weight: 700; }
    .body .block13 .note.note1 .title a {
      font-size: 17px; }
    .body .block13 .note.note1 form > div {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center; }
      .body .block13 .note.note1 form > div.row2 {
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .body .block13 .note.note1 form > div.row2 label {
          margin-left: 10px; }
      .body .block13 .note.note1 form > div.row3 {
        -webkit-justify-content: flex-start;
        justify-content: flex-start; }
        .body .block13 .note.note1 form > div.row3 label {
          margin-left: 10px; }
    .body .block13 .note.note1 form select, .body .block13 .note.note1 form input {
      padding-left: 10px;
      width: 47.5%;
      height: 35px;
      line-height: 35px;
      background: #f1f2f2;
      border: none;
      color: #9fa1a4;
      margin-bottom: 10px; }
      .body .block13 .note.note1 form select.sl-onl, .body .block13 .note.note1 form input.sl-onl {
        width: 30%;
        margin-left: 5%; }
    .body .block13 .note.note1 form .error {
      width: 100%;
      color: red;
      text-align: center;
      display: block;
      margin-top: 10px; }
    .body .block13 .note.note1 form .btn-order-onl {
      background: #ed1c24;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      border: none;
      height: 35px;
      line-height: 35px;
      text-align: center;
      padding: 0 15px;
      box-sizing: border-box;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      margin: 10px auto; }
      .body .block13 .note.note1 form .btn-order-onl:hover {
        color: #ff0; }
    @media (max-width: 460px) {
      .body .block13 .note.note1 form input, .body .block13 .note.note1 form select {
        width: 100%; }
      .body .block13 .note.note1 form .sl-onl {
        margin-left: 0 !important; }
      .body .block13 .note.note1 form .btn-order-onl {
        margin: auto; } }
    .body .block13 .note.note2 a {
      color: #ed1c24;
      font-weight: 700; }
    .body .block13 .note.note3 a {
      color: #000000; }
      .body .block13 .note.note3 a:hover {
        color: #00b034; }
    @media (max-width: 767px) {
      .body .block13 {
        width: 96%;
        margin: auto; } }
  @media (max-width: 1059px) {
    .body {
      margin-top: 3%; }
      .body .fixCen {
        border: none;
        width: 100%; } }

footer {
  padding: 60px 0 20px 0;
  background: #4f9bd5;
  color: #ffffff; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #3F51B5; }
  footer .areaSocial .listSocial {
    text-align: center; }
    footer .areaSocial .listSocial li {
      display: inline-block;
      margin: 0 20px; }
      footer .areaSocial .listSocial li a {
        display: block;
        width: 69px;
        height: 70px;
        font-size: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        footer .areaSocial .listSocial li a:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2); }
        footer .areaSocial .listSocial li a.se {
          background: url("../images/landing/icon_search.png") no-repeat; }
        footer .areaSocial .listSocial li a.yu {
          background: url("../images/landing/icon_youtube.png") no-repeat; }
        footer .areaSocial .listSocial li a.fb {
          background: url("../images/landing/icon_fb.png") no-repeat; }
        footer .areaSocial .listSocial li a.go {
          background: url("../images/landing/icon_gg.png") no-repeat; }
  footer .areaLink {
    margin: 30px 0; }
    footer .areaLink .listCategory {
      text-align: center; }
      footer .areaLink .listCategory li {
        display: inline-block;
        margin: 0 5px; }
        footer .areaLink .listCategory li a {
          font-size: 17px;
          text-transform: uppercase; }
  footer .copyRight {
    text-align: center; }
  @media (max-width: 1059px) {
    footer .fixCen {
      width: 100%;
      padding: 0 3%;
      box-sizing: border-box; } }

/*# sourceMappingURL=landing.css.map */
