@font-face {
  font-family: UTM;
  src: url("../fonts/UTM Aurora.ttf"); }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf"); }
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #ffffff; }

li.rs {
  list-style: none; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.px {
  position: fixed; }

h1 {
  font-size: 20px;
  font-weight: normal; }

.rs {
  margin: 0;
  padding: 0; }

.imgFull {
  width: 100%;
  height: auto; }

.z2 {
  z-index: 2; }

.z10 {
  z-index: 10; }

.fixCen {
  width: 1024px;
  position: relative;
  margin: 0 auto; }

header #main-nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: center; }

.body .groups .left-content .block-4 .post h4 a, .body .groups .left-content .block-4 .post .related-news a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.body .experience .button-groups a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.body .groups .left-content .block-4 h2, .body .groups .right-content .danhmuc_caythuoc h2, .body .groups .right-content .danhmuc_benh h2, .body .experience .extend {
  color: #ffffff;
  background: #2f962b;
  font-size: 16px;
  width: 42%;
  text-align: center;
  padding: 10px 0; }

.body .block-1, .body .block-1 .group-banner-sm, .body .groups, .body .groups .left-content .block-2 .tabs, .body .groups .left-content .block-4, .body .experience #slider-2 .owl-item .item, .others .fixCen, .others .fixCen .content:nth-child(3), .others .fixCen .content:nth-child(3) .btn-groups, .others .fixCen .content:nth-child(3) .text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; }

.transX0 {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important; }

.transY94 {
  -webkit-transform: translateY(94px) !important;
  -moz-transform: translateY(94px) !important;
  -ms-transform: translateY(94px) !important;
  -o-transform: translateY(94px) !important;
  transform: translateY(94px) !important; }

.owl-buttons .owl-prev, .owl-buttons .owl-next {
  background: url(../images/prev.png) no-repeat;
  width: 16px;
  height: 32px;
  font-size: 0;
  display: inline-block;
  margin-right: 15px; }
  .owl-buttons .owl-prev:hover, .owl-buttons .owl-next:hover {
    background: url("../images/prev-hv.png") no-repeat; }
.owl-buttons .owl-next {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 12;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.53); }
  .popup .popup-content {
    width: 800px;
    height: 500px;
    background: #ffffff;
    border: 3px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; }
    .popup .popup-content .close-popup {
      text-decoration: none;
      width: 30px;
      height: 30px;
      background: green;
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      top: 0;
      right: 0; }
    .popup .popup-content iframe {
      width: 100%;
      height: 100%; }

.tab-1 {
  background: #00642d;
  z-index: 4; }

.tab-2 {
  background: #00a537;
  z-index: 3; }

.tab-3 {
  background: #7cc525;
  z-index: 2; }

.tab-4 {
  background: #b8da02;
  z-index: 1; }

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

header .head-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px 0; }
  header .head-info .logo {
    width: 30%; }
  header .head-info .slogan {
    width: 49%;
    text-transform: uppercase;
    color: #009d37;
    font-size: 32px;
    font-family: UTM,sans-serif; }
    header .head-info .slogan i {
      display: block;
      color: #5f5c59;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center; }
  header .head-info .hotline {
    width: 14.6%; }
    header .head-info .hotline .search-on-top {
      width: 100%;
      margin-top: 10px; }
      header .head-info .hotline .search-on-top input {
        width: 100%;
        background: #eae8e7;
        color: #5f5c59;
        border: none;
        height: 25px;
        line-height: 25px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center; }
header #main-nav {
  background: url("../images/menu-bg.jpg") center top no-repeat;
  width: 100%;
  height: 47px; }
  header #main-nav ul {
    height: 47px; }
    header #main-nav ul li {
      position: relative;
      list-style: none;
      height: 100%;
      float: left;
      box-sizing: border-box;
      line-height: 47px; }
      header #main-nav ul li:last-child a {
        border: none; }
      header #main-nav ul li .submenu {
        display: none;
        position: absolute;
        z-index: 2;
        padding: 0;
        height: auto !important;
        background: rgba(222, 224, 205, 0.51);
        width: 100%;
        min-width: 120%; }
        header #main-nav ul li .submenu li {
          min-width: 100%;
          list-style: none;
          border-top: thin solid gray;
          float: none;
          display: block;
          position: relative; }
          header #main-nav ul li .submenu li:first-child {
            border: none; }
          header #main-nav ul li .submenu li a {
            border: none;
            text-align: left; }
            header #main-nav ul li .submenu li a:first-child {
              font-size: 14px;
              padding: 0 10.85px; }
      header #main-nav ul li:hover .submenu {
        display: block; }
      header #main-nav ul li a {
        text-transform: uppercase;
        color: #ffffff;
        padding: 0 7.3px;
        border-right: thin solid #00642d;
        font-family: Roboto,sans-serif;
        font-size: 13px; }
        header #main-nav ul li a:hover, header #main-nav ul li a.active {
          text-decoration: none;
          color: #000; }

.body .block-1 {
  margin: 5px auto 10px auto;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .body .block-1 img {
    width: 100%;
    height: auto; }
  .body .block-1 .banner-big {
    width: 51%; }
  .body .block-1 .title {
    width: 100%;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.54);
    position: absolute;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box; }
    .body .block-1 .title a {
      color: #ffffff; }
      .body .block-1 .title a:hover {
        color: green; }
  .body .block-1 .group-banner-sm {
    width: 47.5%;
    -webkit-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    align-items: baseline; }
    .body .block-1 .group-banner-sm .bn {
      width: 48%; }
      .body .block-1 .group-banner-sm .bn:nth-child(1), .body .block-1 .group-banner-sm .bn:nth-child(2) {
        margin-bottom: 10px; }
      .body .block-1 .group-banner-sm .bn .title {
        font-size: 16px; }
  @media (max-width: 665px) {
    .body .block-1 {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; }
      .body .block-1 .banner-big {
        width: 100%;
        margin-bottom: 20px; }
      .body .block-1 .group-banner-sm {
        width: 100%; } }
.body .groups {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  .body .groups .left-content {
    width: 67%; }
    .body .groups .left-content .block-2 .tabs {
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      height: 38px;
      margin-bottom: 10px; }
      .body .groups .left-content .block-2 .tabs li {
        list-style: none;
        width: 34.5%;
        height: 100%;
        margin-left: -9%;
        padding-left: 9%;
        box-sizing: border-box;
        border-top-right-radius: 26px; }
        .body .groups .left-content .block-2 .tabs li:first-child {
          margin-left: 0;
          width: 25%;
          padding-left: 0; }
        .body .groups .left-content .block-2 .tabs li:hover a, .body .groups .left-content .block-2 .tabs li.active a {
          color: #d5f770;
          transition: all 0.3s ease; }
        .body .groups .left-content .block-2 .tabs li h3 {
          font-size: 16px;
          text-align: center;
          width: 100%;
          height: 100%;
          line-height: 38px; }
          .body .groups .left-content .block-2 .tabs li h3 a {
            text-transform: uppercase;
            color: #ffffff; }
            .body .groups .left-content .block-2 .tabs li h3 a:hover {
              text-decoration: none; }
    .body .groups .left-content .block-2 .tab-content .content {
      display: none; }
      .body .groups .left-content .block-2 .tab-content .content.active {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
      .body .groups .left-content .block-2 .tab-content .content .post {
        width: 100%; }
        .body .groups .left-content .block-2 .tab-content .content .post h4 a {
          color: #247c26 !important;
          font-weight: bold;
          font-size: 15px;
          display: block; }
        .body .groups .left-content .block-2 .tab-content .content .post .sumary {
          border: none; }
      .body .groups .left-content .block-2 .tab-content .content .hot-news {
        width: 45%; }
        .body .groups .left-content .block-2 .tab-content .content .hot-news .post {
          padding: 0; }
          .body .groups .left-content .block-2 .tab-content .content .hot-news .post h4 a {
            overflow: visible;
            text-overflow: inherit;
            white-space: inherit; }
          .body .groups .left-content .block-2 .tab-content .content .hot-news .post img {
            width: 100%;
            height: auto; }
      .body .groups .left-content .block-2 .tab-content .content .news {
        width: 53%; }
        .body .groups .left-content .block-2 .tab-content .content .news .post {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          margin-bottom: 10px; }
          .body .groups .left-content .block-2 .tab-content .content .news .post img {
            width: 38%;
            height: 100%; }
          .body .groups .left-content .block-2 .tab-content .content .news .post .news-info {
            width: 60%; }
            .body .groups .left-content .block-2 .tab-content .content .news .post .news-info h4 {
              margin: 0 0 5px 0; }
              .body .groups .left-content .block-2 .tab-content .content .news .post .news-info h4 a {
                overflow: visible;
                text-overflow: inherit;
                white-space: inherit; }
    .body .groups .left-content .block-2.block-3 .tabs li {
      width: 48%;
      height: 38px;
      margin-bottom: 10px; }
      .body .groups .left-content .block-2.block-3 .tabs li:first-child {
        width: 37.5%; }
    @media (max-width: 900px) {
      .body .groups .left-content .block-2 .tabs {
        height: auto; }
        .body .groups .left-content .block-2 .tabs li {
          margin: 0;
          width: auto;
          border-radius: 0;
          padding: 0px 25px; }
          .body .groups .left-content .block-2 .tabs li:first-child {
            width: auto;
            padding-left: 25px; }
          .body .groups .left-content .block-2 .tabs li h3 {
            line-height: 25px; }
      .body .groups .left-content .block-2.block-3 .tabs li {
        width: auto;
        height: auto; }
        .body .groups .left-content .block-2.block-3 .tabs li:first-child {
          width: auto;
          padding-left: 25px; }
        .body .groups .left-content .block-2.block-3 .tabs li h3 {
          line-height: 25px; } }
    @media (max-width: 767px) {
      .body .groups .left-content .block-2 .tabs h3 {
        font-size: 14px;
        font-weight: normal; }
      .body .groups .left-content .block-2 .content {
        flex-direction: column;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        align-items: center; }
        .body .groups .left-content .block-2 .content .hot-news, .body .groups .left-content .block-2 .content .news {
          width: 90% !important; }
        .body .groups .left-content .block-2 .content .hot-news img {
          width: 100%; }
        .body .groups .left-content .block-2 .content .news {
          margin: 10px 0 0 0; } }
    .body .groups .left-content .block-4 {
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .body .groups .left-content .block-4 > div {
        width: 47.5%; }
      .body .groups .left-content .block-4 h2 {
        display: block;
        width: 100%;
        margin: 0 0 10px 0; }
      .body .groups .left-content .block-4 .post {
        width: 100%;
        color: #070606; }
        .body .groups .left-content .block-4 .post h4 {
          font-size: 14px; }
          .body .groups .left-content .block-4 .post h4 a {
            color: #12491d; }
            .body .groups .left-content .block-4 .post h4 a:hover {
              color: #40a629; }
        .body .groups .left-content .block-4 .post img {
          width: 100%;
          height: auto; }
        .body .groups .left-content .block-4 .post .sumary {
          border-bottom: thin solid #8c8888;
          padding: 10px 0; }
        .body .groups .left-content .block-4 .post .related-news a {
          color: #070606;
          color: #070606;
          border-bottom: thin solid #8c8888;
          padding: 10px 0; }
          .body .groups .left-content .block-4 .post .related-news a:hover {
            color: #40a629;
            text-decoration: none; }
          .body .groups .left-content .block-4 .post .related-news a::before {
            content: '';
            width: 7px;
            height: 7px;
            margin: 0 7px 0 0;
            background: #80c41c;
            border-radius: 10px;
            display: inline-block;
            vertical-align: middle; }
          .body .groups .left-content .block-4 .post .related-news a:last-child {
            border: none; }
  .body .groups .right-content {
    width: 31%; }
    .body .groups .right-content .danhmuc_caythuoc h2, .body .groups .right-content .danhmuc_benh h2 {
      width: 100%; }
      .body .groups .right-content .danhmuc_caythuoc h2 a, .body .groups .right-content .danhmuc_benh h2 a {
        color: #ffffff; }
        .body .groups .right-content .danhmuc_caythuoc h2 a:hover, .body .groups .right-content .danhmuc_benh h2 a:hover {
          text-decoration: none; }
    .body .groups .right-content .danhmuc_caythuoc .content, .body .groups .right-content .danhmuc_benh .content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      border: 2px solid #e0dedd; }
      .body .groups .right-content .danhmuc_caythuoc .content input, .body .groups .right-content .danhmuc_benh .content input {
        height: 40px;
        line-height: 40px;
        color: #000000;
        padding-left: 10px;
        border-radius: 20px;
        border: thin solid #e0dedd;
        background: url("../images/icon-search2.jpg") 97% center no-repeat; }
      .body .groups .right-content .danhmuc_caythuoc .content select, .body .groups .right-content .danhmuc_benh .content select {
        border: none;
        border-top: 1px solid #e0dedd;
        min-height: 160px; }
        .body .groups .right-content .danhmuc_caythuoc .content select option, .body .groups .right-content .danhmuc_caythuoc .content select optgroup, .body .groups .right-content .danhmuc_benh .content select option, .body .groups .right-content .danhmuc_benh .content select optgroup {
          padding: 7px 0 0 10px;
          height: 30px; }
          .body .groups .right-content .danhmuc_caythuoc .content select option:hover, .body .groups .right-content .danhmuc_caythuoc .content select option:focus, .body .groups .right-content .danhmuc_caythuoc .content select option:active, .body .groups .right-content .danhmuc_caythuoc .content select option:checked, .body .groups .right-content .danhmuc_caythuoc .content select optgroup:hover, .body .groups .right-content .danhmuc_caythuoc .content select optgroup:focus, .body .groups .right-content .danhmuc_caythuoc .content select optgroup:active, .body .groups .right-content .danhmuc_caythuoc .content select optgroup:checked, .body .groups .right-content .danhmuc_benh .content select option:hover, .body .groups .right-content .danhmuc_benh .content select option:focus, .body .groups .right-content .danhmuc_benh .content select option:active, .body .groups .right-content .danhmuc_benh .content select option:checked, .body .groups .right-content .danhmuc_benh .content select optgroup:hover, .body .groups .right-content .danhmuc_benh .content select optgroup:focus, .body .groups .right-content .danhmuc_benh .content select optgroup:active, .body .groups .right-content .danhmuc_benh .content select optgroup:checked {
            background-color: #237d26 !important;
            color: #ffffff; }
          .body .groups .right-content .danhmuc_caythuoc .content select option:first-child, .body .groups .right-content .danhmuc_caythuoc .content select optgroup:first-child, .body .groups .right-content .danhmuc_benh .content select option:first-child, .body .groups .right-content .danhmuc_benh .content select optgroup:first-child {
            background-color: #237d26 !important;
            color: #ffffff;
            font-style: italic; }
    .body .groups .right-content .danhmuc_benh {
      margin-top: 15px; }
    .body .groups .right-content .banner-duocpham {
      width: 100%;
      margin-top: 15px; }
      .body .groups .right-content .banner-duocpham img {
        width: 100%;
        height: auto; }
  @media (max-width: 767px) {
    .body .groups .left-content, .body .groups .right-content {
      width: 100%; } }
.body .experience {
  margin: 0;
  background: #e2efe3;
  padding: 20px 0; }
  .body .experience .extend {
    width: 298px;
    margin: 0 0 20px 0;
    background: #b7092c;
    position: absolute;
    top: 0;
    right: 36px; }
  .body .experience .no-extend {
    width: 350px;
    color: #009d37;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../images/chat-icon.png) 0px center no-repeat;
    padding-left: 25px;
    height: 37px;
    line-height: 37px;
    margin-left: 30px; }
  .body .experience #slider-2 {
    width: 95%;
    margin: 40px auto 0 auto; }
    .body .experience #slider-2 .owl-item .item {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: space-between; }
      .body .experience #slider-2 .owl-item .item .left {
        max-width: 114px;
        width: 40%; }
        .body .experience #slider-2 .owl-item .item .left .avatar {
          width: 100%;
          border: thin solid #000;
          height: auto;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%; }
      .body .experience #slider-2 .owl-item .item .right {
        width: 60%;
        padding-left: 2%;
        margin-left: 10px; }
        .body .experience #slider-2 .owl-item .item .right .title {
          color: #070607;
          font-size: 14px;
          font-weight: bold; }
        .body .experience #slider-2 .owl-item .item .right .name {
          color: #009d37;
          font-style: italic;
          font-size: 11px; }
        .body .experience #slider-2 .owl-item .item .right .address {
          color: #838080;
          font-size: 10px; }
      @media (max-width: 976px) {
        .body .experience #slider-2 .owl-item .item .left {
          margin: 0 auto 10px auto;
          width: 114px; }
        .body .experience #slider-2 .owl-item .item .right {
          width: 100%; } }
    .body .experience #slider-2 .owl-buttons {
      width: 100%; }
      .body .experience #slider-2 .owl-buttons div {
        position: absolute;
        top: 50%;
        margin-top: -50px; }
      .body .experience #slider-2 .owl-buttons .owl-next {
        right: -30px;
        margin-right: 0; }
      .body .experience #slider-2 .owl-buttons .owl-prev {
        left: -30px; }
    .body .experience #slider-2 .owl-pagination {
      text-align: center;
      margin: 20px 0 0 0; }
      .body .experience #slider-2 .owl-pagination .owl-page {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: #80c41c;
        border-radius: 10px;
        display: inline-block; }
        .body .experience #slider-2 .owl-pagination .owl-page:hover, .body .experience #slider-2 .owl-pagination .owl-page.active {
          background: #40a629; }
  .body .experience .button-groups {
    background: #f8f8f7;
    border: thin solid #eef0f1;
    margin: 20px 0 0;
    padding: 2%;
    text-align: center; }
    .body .experience .button-groups a {
      width: 240px;
      text-align: right;
      position: relative;
      border-radius: 30px;
      height: 50px;
      line-height: 50px;
      color: #ffffff;
      font-size: 18px;
      background: #237d26;
      display: inline-block;
      padding-right: 10px;
      margin: 10px 0; }
      .body .experience .button-groups a:hover {
        background: #3fa229;
        text-decoration: none; }
      .body .experience .button-groups a .icon {
        height: 100%;
        width: 30%;
        background-size: 100%;
        position: absolute;
        left: 3%; }
    .body .experience .button-groups .htpp .icon {
      background: url("../images/icon-1.png") no-repeat;
      top: 17%;
      left: 10%; }
    .body .experience .button-groups .tvvcg {
      margin: 0 2%; }
      .body .experience .button-groups .tvvcg .icon {
        background: url("../images/icon-2.png") no-repeat;
        top: 17%; }
    .body .experience .button-groups .mhtt .icon {
      background: url("../images/icon-3.png") no-repeat;
      top: 10%; }
  @media (max-width: 720px) {
    .body .experience .extend {
      width: 48%;
      line-height: inherit; }
    .body .experience .no-extend {
      width: 42%; } }
  @media (max-width: 550px) {
    .body .experience .extend {
      width: 92% !important;
      right: 4%;
      top: 35px; }
    .body .experience .no-extend {
      width: 92%;
      margin: auto; }
    .body .experience #slider-2 {
      margin-top: 60px; } }

footer {
  height: 40px;
  background: #00642c;
  margin-top: 0;
  font-size: 12px;
  color: #ffffff;
  line-height: 40px; }
  footer .copyright {
    font-family: firstFont, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px; }

.others {
  background: #7e7d7b;
  padding: 20px 0 10px 0; }
  .others .fixCen .content {
    width: 22%;
    border-right: thin solid #ffffff;
    display: inline-block;
    vertical-align: top; }
    .others .fixCen .content .links {
      width: 80%;
      margin: 0 auto 5px auto; }
      .others .fixCen .content .links a {
        color: #ffffff;
        line-height: 25px;
        height: 25px;
        display: block; }
        .others .fixCen .content .links a:hover {
          color: #00642c; }
    .others .fixCen .content .btn-groups {
      width: 86%;
      margin: auto; }
    .others .fixCen .content:nth-child(3) {
      width: 56%;
      border: none;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; }
      .others .fixCen .content:nth-child(3) .btn-groups {
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .others .fixCen .content:nth-child(3) .btn-groups a {
          width: 48%;
          display: block; }
      .others .fixCen .content:nth-child(3) .text {
        width: 100%;
        color: #009d36;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        margin-top: 3%;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center; }
        .others .fixCen .content:nth-child(3) .text span {
          width: 80%; }
          .others .fixCen .content:nth-child(3) .text span i {
            width: 100%;
            display: block; }
        .others .fixCen .content:nth-child(3) .text brown {
          font-size: 15px;
          color: #5f5c59; }
        .others .fixCen .content:nth-child(3) .text i {
          font-style: normal;
          display: block;
          width: 71px; }

.banner-ads {
  position: absolute;
  width: 171px;
  height: 454px;
  top: 250px;
  z-index: 9; }
  .banner-ads img {
    width: 100%;
    height: auto; }
  .banner-ads.left {
    left: 0px; }
  .banner-ads.right {
    right: 0px; }

.bg-top {
  display: none; }

@media (max-width: 1430px) {
  .banner-ads {
    width: 140px; } }
@media (max-width: 1366px) {
  .banner-ads {
    width: 130px; } }
@media (max-width: 1365px) {
  .banner-ads {
    width: 95px; } }
@media (max-width: 1279px) {
  .banner-ads {
    display: none; } }
@media (max-width: 1100px) {
  .others .fixCen {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .others .fixCen .content span {
      margin: auto !important; }
    .others .fixCen .content .links {
      margin: auto !important; }
    .others .fixCen .fanpage {
      width: 39% !important;
      margin: 0 1% 0 0% !important; } }
.choose_caythuoc, .choose_benh {
  display: none; }

@media (max-width: 1090px) {
  .fixCen {
    width: 100%; } }
@media (max-width: 1024px) {
  .miniMenu-btn {
    width: 40px;
    height: 40px;
    background: url("../images/menu-open.png") no-repeat;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }

  .open-top-nav {
    right: 5px;
    left: initial; }

  .bg-top {
    display: block;
    background: #80c41c;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 50px; }

  .head-info {
    margin: 50px 0 0 0 !important; }

  #main-nav, #top-nav {
    background: #094a0b !important;
    position: fixed;
    top: 50px;
    width: 33%;
    height: 100%;
    z-index: 999;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #main-nav ul, #top-nav ul {
      overflow-y: scroll;
      height: 100% !important;
      max-height: 90%;
      background: #094a0b; }
      #main-nav ul li, #top-nav ul li {
        height: auto !important;
        line-height: 50px !important;
        border-top: thin solid #97d089;
        display: block;
        float: none !important;
        display: block;
        float: none !important; }
        #main-nav ul li:first-child, #top-nav ul li:first-child {
          border: none; }
          #main-nav ul li:first-child a, #top-nav ul li:first-child a {
            padding: 0 9.9px !important;
            font-size: 14px !important; }
            #main-nav ul li:first-child a img, #top-nav ul li:first-child a img {
              display: none; }
        #main-nav ul li a, #top-nav ul li a {
          border: none !important;
          text-align: left !important; }
        #main-nav ul li .submenu, #top-nav ul li .submenu {
          position: relative !important;
          top: inherit !important;
          overflow-y: inherit !important; }

  #main-nav {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

  #top-nav {
    right: 0px;
    background: none !important;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    #top-nav ul {
      display: block !important;
      -webkit-justify-content: inherit !important;
      justify-content: inherit !important; }
      #top-nav ul li {
        width: 100% !important;
        padding-left: 10px; }
        #top-nav ul li:last-child {
          border-top: thin solid #97d089 !important; }
        #top-nav ul li a {
          padding: 0 !important;
          text-transform: uppercase; }
        #top-nav ul li:first-child a {
          padding: 0 !important; }

  #slider-2 .owl-buttons .owl-next {
    right: -15px !important; }
  #slider-2 .owl-buttons .owl-prev {
    left: -15px !important; }

  #choose_caythuoc, #choose_benh {
    display: none; }

  .choose_caythuoc, .choose_benh {
    display: block;
    height: 160px;
    overflow: scroll; }
    .choose_caythuoc ul, .choose_benh ul {
      padding: 0; }
      .choose_caythuoc ul li, .choose_benh ul li {
        list-style: none;
        padding: 0 0 0 10px;
        line-height: 30px;
        height: 30px; }
        .choose_caythuoc ul li:first-child, .choose_benh ul li:first-child {
          background: #237d26; } }
.pagination {
  margin: 40px auto;
  display: block;
  text-align: center; }
  .pagination li {
    display: inline-block;
    margin-right: 2px; }
    .pagination li a, .pagination li span {
      color: green;
      width: 34px;
      height: 34px;
      text-align: center;
      line-height: 34px;
      font-size: 16px;
      padding: 0;
      margin: 0; }
    .pagination li.active > a, .pagination li.active > span, .pagination li:hover > a, .pagination li:hover > span {
      background-color: green;
      border-color: green;
      color: #ffffff; }
    .pagination li:last-child {
      margin-right: 0; }

@media (max-width: 980px) {
  footer .fixCen {
    line-height: inherit;
    text-align: center;
    padding-top: 9px; } }
@media (max-width: 820px) {
  .popup {
    z-index: 1000; }
    .popup .popup-content {
      width: 100%;
      left: 0;
      height: 50%;
      margin: -40% 0 0 0; } }
@media (max-width: 767px) {
  .body .groups .left-content .block-4 h2, .body .groups .right-content .danhmuc_caythuoc h2, .body .groups .right-content .danhmuc_benh h2, .body .experience .extend {
    font-size: 14px; }

  #main-nav, #top-nav {
    width: 50% !important; }

  .slogan {
    width: 50% !important; }

  .hotline {
    position: fixed;
    top: 2px;
    width: 124px !important;
    z-index: 1000;
    left: 50%;
    margin-left: -62px; }
    .hotline img {
      width: 100%;
      height: auto; }

  .body .others .fixCen {
    display: block !important; }
    .body .others .fixCen > div {
      width: 33% !important; }
      .body .others .fixCen > div span {
        margin: auto !important; }
      .body .others .fixCen > div .links {
        margin: auto !important; }
    .body .others .fixCen .fanpage {
      width: 33% !important;
      margin: 20px auto 0 auto !important;
      display: block !important; } }
@media (max-width: 736px) {
  .products h2 {
    width: 48% !important; } }
@media (max-width: 590px) {
  .others .fixCen {
    display: block !important; }
    .others .fixCen #about-us, .others .fixCen #medicines, .others .fixCen #searchByDisease {
      width: 49.5% !important; }
      .others .fixCen #about-us span, .others .fixCen #medicines span, .others .fixCen #searchByDisease span {
        width: 98% !important;
        margin: auto !important;
        font-size: 16px !important; }
      .others .fixCen #about-us .links, .others .fixCen #medicines .links, .others .fixCen #searchByDisease .links {
        margin: auto !important;
        width: 96% !important; }
    .others .fixCen #fanpage-box {
      width: 49% !important;
      display: inline-block !important; }
    .others .fixCen #searchByDisease, .others .fixCen #fanpage-box {
      margin: 20px 0 !important; } }
@media (max-width: 563px) {
  #slider-2 .owl-buttons .owl-next {
    right: 15px !important; }
  #slider-2 .owl-buttons .owl-prev {
    left: 15px !important; } }
@media (max-width: 506px) {
  .head-info {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center !important;
    align-items: center !important;
    margin-bottom: 20px !important; }
    .head-info .slogan {
      width: 94% !important;
      text-align: center;
      margin-top: 10px; }

  footer {
    height: auto !important; }
    footer .fixCen {
      -webkit-align-items: flex-start !important;
      align-items: flex-start !important;
      padding-top: 3px !important; } }
@media (max-width: 479px) {
  .products #slider-2 .owl-item img {
    height: auto; } }
@media (max-width: 450px) {
  .body .groups .left-content .block-4 h2, .body .groups .right-content .danhmuc_caythuoc h2, .body .groups .right-content .danhmuc_benh h2, .body .experience .extend {
    width: 100%; }

  #main-nav, #top-nav {
    width: 100% !important; }

  #top-nav {
    width: 100% !important;
    overflow-y: scroll; }

  .slogan {
    font-size: 16px !important;
    letter-spacing: 1px; } }
@media (max-width: 390px) {
  .page ul {
    display: block; }
    .page ul li {
      display: inline-block;
      margin-bottom: 3px; } }
@media (max-width: 380px) {
  .slogan {
    font-size: 15px !important; } }
@media (max-width: 360px) {
  .slogan {
    font-size: 14px !important;
    letter-spacing: 3px; } }

/*# sourceMappingURL=common.css.map */
