
@font-face {
  font-family: firstFont;
  src: url('../fonts/Myriad-Pro-Semibold-SemiExtended.ttf');
}
@font-face {
  font-family: secondFont;
  src: url('../fonts/MYRIADPRO-BOLD.OTF');
}
@font-face {
  font-family: thirdFont;
  src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: thirdFont, sans-serif;
  background: #ffffff;
}
li.rs{
  list-style: none;
}
.pr{
  position: relative;
}
.pa {
  position: absolute;
}
.px{
  position: fixed;
}
h1 {
  font-size: 20px;
  font-weight: normal;
}
.rs{
  margin: 0;
  padding: 0;
}
.imgFull{
  width: 100%;
  height: auto;
}
.z2{
  z-index: 2;
}
.z10{
  z-index: 10;
}
.fixCen{
  width: 1090px;
  position: relative;
  margin: 0 auto;
}
%aProp{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
%overFlowA{
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%transition{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out ;
  -ms-transition: all 0.3s ease-in-out ;
  -o-transition: all 0.3s ease-in-out ;
  transition: all 0.3s ease-in-out ;
}
%h2Prop{
  color: #ffffff;
  background: #2f962b;
  font-size: 16px;
  width: 42%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
%liProp{
  list-style: none;
}
%spanProp{
  background: #144a1b;
  color: #fff;
  font-family: firstFont,sans-serif;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 80%;
  height: 30px;
  line-height: 30px;

}
.arrow-step{
  background: url("../images/arrow-step.png") no-repeat;
  width: 10px;
  height: 10px;
  display: block;
}
.body{
  color: #000000;
  .ads-top{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 10px 0;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .main-content{
    margin-bottom: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .left-content{
      width: 63%;
      .steps{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        background: #2f962b;
        height: 40px;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 5px;
        padding-left: 20px;
        h2{
          font-size: 18px;
          font-family: firstFont, sans-serif;
          font-size: 18px;
          text-transform: uppercase;
          color: #ffffff;
        }
        #search-thuoc{
          padding: 0 20px 0 0;
          input{
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            border: none;
            border-radius: 3px;
            width: 250px;
            margin: 0 5px 0 0;
          }
          button{
            color: #ffffff;
            background: #7cb81a;
            padding: 5px 10px;
            border: none;
            border-radius: 2px;
          }
        }
      }
      #searchByabc{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 10px;
        a{
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: #4d4d4d;
          font-size:10px;
          text-align: center;
          border-radius: 20px;
          &:hover, &.active{
            background: #a0a0a0;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
      .list-news{
        .news{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
        }
        .post{
          width: 32.66%;
          margin-bottom: 25px;
          padding: 0 0 10px 0;
          margin: 0 1% 3% 0;
          background: rgba(234, 234, 234, 0.62);
          .post-content{
            width: 100%;
            margin: auto;
            padding-bottom: 20px;
            a{
              &:hover{
                color: green;
              }
              display: block;
            }
            .name{
              color: #237d26;
              font-size:18px;
              text-transform: uppercase;
              padding: 10px 10px 0 10px;
            }
            .sumary{
              padding: 0 10px;
            }
            .title{
              padding: 0 10px;
              color: #a0642f;
              font-size: 13px;
              margin: 10px 0;
            }
            .img-title{
              width: 100%;
              height: auto;
              img{
                width: 100%;
                height: auto;
              }
            }
          }
          &:nth-child(3n+0){
            margin-right: 0;
          }
        }
        //.page{
        //  color: #000000;
        //  ul{
        //    display: -webkit-box;
        //    display: -moz-box;
        //    display: -ms-flexbox;
        //    display: -webkit-flex;
        //    display: flex;
        //    -webkit-justify-content: center;
        //    justify-content: center;
        //    -webkit-align-items: center;
        //    align-items: center;
        //    margin: 10px 0 20px 0;
        //    li{
        //      @extend %liProp;
        //      margin-right: 5px;
        //      a{
        //        color: #000000;
        //        background: #f8f8f7;
        //        border: thin solid #e8e6e3;
        //        height: 20px;
        //        width: 20px;
        //        line-height: 20px;
        //        display: block;
        //        text-align: center;
        //        border-radius: 100%;
        //        &:hover, &.active{
        //          background: #2f962b;
        //          color: #ffffff;
        //          text-decoration: none;
        //        }
        //      }
        //      i{
        //        font-style: inherit;
        //        margin: 0 5px;
        //      }
        //      span{
        //        color: #000000;
        //        background: #f8f8f7;
        //        border: thin solid #e8e6e3;
        //        display: block;
        //        height: 20px;
        //        line-height: 20px;
        //        text-align: center;
        //        border-radius: 40%;
        //        padding: 0px 10px;
        //        &:hover, &.active{
        //          background: #2f962b;
        //          color: #ffffff;
        //          text-decoration: none;
        //        }
        //      }
        //    }
        //  }
        //  .arrow{
        //    font-size: 20px;
        //  }
        //}
      }
    }
    .right-content{
      width: 33.66%;
      .most-readed{
        h2{
          @extend %h2Prop;
          width: 100%;
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 5px;
        }
        .content{
          border: thin solid rgb(227, 234, 225);
          border-radius: 2px;
          padding: 10px 10px 0 10px;
        }
        .most-post{
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          margin: 0px 0;
          border-bottom: 1.5px dashed green;
          padding: 15px 0;
          &:last-child{
            border: none;
          }
          a{
            color: #000000;
            &:hover{
              color: green;
            }
          }
          .img-title{
            width: 36%;
            img{
              width: 100%;
              height: auto;
            }
          }
          .title{
            width: 60%;
          }
        }
      }
      .banner-duocpham{
        margin-bottom: 15px;
      }
    }
  }
  .products{
    .button-groups{
      background: #f8f8f7;
      border: thin solid #eef0f1;
      margin: 20px 0 0;
      padding: 2% 0;
      text-align: center;
      a{
        width: 240px;
        text-align: right;
        position: relative;
        border-radius: 30px;
        height: 50px;
        line-height: 50px;
        color: #ffffff;
        font-size: 18px;
        background: #237d26;
        display: inline-block;
        @extend %transition;
        padding-right: 10px;
        &:hover{
          background: #3fa229;
          text-decoration: none;
        }
        .icon{
          height: 100%;
          width: 30%;
          background-size: 100%;
          position: absolute;
          left: 3%;
        }
      }
      .htpp{
        .icon{
          background: url("../images/icon-1.png")no-repeat;
          top: 17%;
          left: 10%;
        }
      }
      .tvvcg{
        .icon{
          background: url("../images/icon-2.png")no-repeat;
          top: 17%;
        }
        margin: 0 2%;
      }
      .mhtt{
        .icon{
          background: url("../images/icon-3.png")no-repeat;
          top: 10%;
        }
      }
    }
  }
}

@media (max-width: 1090px) {
  .fixCen {
    width: 100%;
  }
}

@media (max-width: 935px){
  .left-content{
    .list-news{
      .post{
        width: 32.5% !important;
      }
    }
  }
}
@media (max-width: 866px){
  .steps{
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
    height: auto !important;
    padding: 10px 0;
    #search-thuoc{
      margin: 10px 0 0 0;
      align-self: center;
    }
  }
}
@media (max-width: 850px){
  .button-groups{
    a{
      display: block !important;
      margin: 2% auto !important;
    }
  }
}
@media (max-width: 767px){
  .body{
    .main-content{
      -webkit-flex-direction: column !important;
      flex-direction: column !important;
      .left-content{
        width: 100% !important;
        padding: 0 2%;
      }
      .right-content{
        width: 100% !important;
      }
    }
    .most-readed{
      margin-top: 10px;
    }
  }
}
@media (max-width: 612px){
  .left-content{
    .list-news{
      .post{
        width: 49.5% !important;
      }
    }
  }
}
@media (max-width: 530px){
  #searchByabc{
    display: block !important;
    a{
      display: inline-block;
    }
  }
}
@media (max-width: 490px){
  .main-content{
    .right-content{
      width: 100% !important;
    }
  }
}
@media (max-width: 450px){
  .fixCen.groups{
    -webkit-flex-direction: column;
    flex-direction: column;
    .left-content, .right-content{
      width: 100% !important;
    }
    .left-content{
      .list-news{
        .post{
          width: 100% !important;
        }
      }
    }
  }

}
@media (max-width: 357px){
  .main-content{
    .left-content{
      .steps{
        padding-left: 5px !important;
        #search-thuoc{
          margin: 10px 0 0 0;
          align-self: center;
          padding: 0 5px 0 0 !important;
          input{
            width: 240px !important;
          }
        }
      }
    }
  }
}