@font-face {
  font-family: firstFont;
  src: url("../fonts/Myriad-Pro-Semibold-SemiExtended.ttf"); }
@font-face {
  font-family: secondFont;
  src: url("../fonts/MYRIADPRO-BOLD.OTF"); }
@font-face {
  font-family: thirdFont;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF"); }
html,
body {
  padding: 0;
  margin: 0;
  font-family: thirdFont, sans-serif;
  background: #ffffff; }

li.rs {
  list-style: none; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.px {
  position: fixed; }

h1 {
  font-size: 20px;
  font-weight: normal; }

.rs {
  margin: 0;
  padding: 0; }

.imgFull {
  width: 100%;
  height: auto; }

.z2 {
  z-index: 2; }

.z10 {
  z-index: 10; }

.fixCen {
  width: 1090px;
  position: relative;
  margin: 0 auto; }

.body .main-content .right-content .most-readed h2 {
  color: #ffffff;
  background: #2f962b;
  font-size: 16px;
  width: 42%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold; }

.arrow-step {
  background: url("../images/arrow-step.png") no-repeat;
  width: 10px;
  height: 10px;
  display: block; }

.body {
  color: #000000; }
  .body .ads-top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 10px 0;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .body .main-content {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .body .main-content .left-content {
      width: 63%; }
      .body .main-content .left-content .steps {
        border-bottom: thin solid gray;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 0 10px 0;
        padding-bottom: 10px; }
        .body .main-content .left-content .steps h2, .body .main-content .left-content .steps h3, .body .main-content .left-content .steps h4 {
          font-size: 18px;
          font-weight: normal; }
        .body .main-content .left-content .steps span {
          margin: 0 8px; }
        .body .main-content .left-content .steps a {
          color: #12491d;
          font-family: firstFont, sans-serif;
          text-transform: uppercase; }
      .body .main-content .left-content .video-content {
        height: 100%; }
        .body .main-content .left-content .video-content .video {
          width: 100%;
          height: 0;
          overflow: hidden;
          padding: 0 0 56% 0;
          position: relative; }
        .body .main-content .left-content .video-content iframe {
          max-width: 100%;
          height: 100%;
          position: absolute;
          top: 0; }
        .body .main-content .left-content .video-content .thumb-video {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: space-between;
          justify-content: space-between; }
          .body .main-content .left-content .video-content .thumb-video a {
            width: 30.333%;
            margin-top: 5%;
            font-size: 12px; }
            .body .main-content .left-content .video-content .thumb-video a span {
              display: block; }
            .body .main-content .left-content .video-content .thumb-video a .title {
              color: #000000;
              margin: 10px 0; }
            .body .main-content .left-content .video-content .thumb-video a .view-count {
              color: #666666; }
    .body .main-content .right-content {
      width: 33.66%; }
      .body .main-content .right-content .most-readed h2 {
        width: 100%;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 5px; }
      .body .main-content .right-content .most-readed .content {
        border: thin solid #e3eae1;
        border-radius: 2px;
        padding: 10px 10px 0 10px; }
      .body .main-content .right-content .most-readed .most-post {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin: 0px 0;
        border-bottom: 1.5px dashed green;
        padding: 15px 0; }
        .body .main-content .right-content .most-readed .most-post:last-child {
          border: none; }
        .body .main-content .right-content .most-readed .most-post a {
          color: #000000; }
          .body .main-content .right-content .most-readed .most-post a:hover {
            color: green; }
        .body .main-content .right-content .most-readed .most-post .img-title {
          width: 36%; }
          .body .main-content .right-content .most-readed .most-post .img-title img {
            width: 100%;
            height: auto; }
        .body .main-content .right-content .most-readed .most-post .title {
          width: 60%; }
      .body .main-content .right-content .banner-duocpham {
        margin-bottom: 15px; }

@media (max-width: 1090px) {
  .fixCen {
    width: 100%; } }
@media (max-width: 767px) {
  .body .main-content {
    -webkit-flex-direction: column !important;
    flex-direction: column !important; }
    .body .main-content .left-content {
      width: 100% !important;
      padding: 0 2%; }
    .body .main-content .right-content {
      width: 100% !important; }
  .body .most-readed {
    margin-top: 10px; } }
@media (max-width: 736px) {
  .left-content .steps h2, .left-content .steps h3, .left-content .steps h4 {
    font-size: 14px !important; }
  .left-content .steps span {
    margin: 0 5px !important; }
  .left-content .steps a {
    color: #12491d;
    font-family: firstFont, sans-serif;
    text-transform: uppercase; } }
@media (max-width: 490px) {
  .main-content .right-content {
    width: 100% !important; } }
@media (max-width: 450px) {
  .fixCen.groups {
    -webkit-flex-direction: column;
    flex-direction: column; }
    .fixCen.groups .left-content, .fixCen.groups .right-content {
      width: 100% !important; } }

/*# sourceMappingURL=video.css.map */
